*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
  
button {
  cursor: pointer;
}

.container {
  width: 90%;
  height: 80%;
  border-radius: 20px;
  padding: 35px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px
}

header {
  display: flex;
  justify-content: space-between; 
}

header h1 {
  font-size: 32px;
}

header button {
  background-color: #25273d;
  color: #fff;
  border-radius: 8px;
  border: none;
  padding: 8px;
}

.line {
  height: 3px;
  background-color: #25273d;
  margin-block: 10px 15px;
}

.title {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  background: #e0dedec3;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  border-bottom: 2px solid #7272726c;
}

.title h2 {
  font-size: 20px;
}

input {
  width: 50px;
}

.form-container {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.infos {
  display: flex;
  gap: 5px;
}

.gridInfos {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-content: center;
  gap: 10px;
  margin: 0 auto;
}

.itemGrid {
  text-align: center;
}

.DialogContent {
  background-color: white;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 550px;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.IconButton {
  font-family: inherit;
  border-radius: 100%;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #25273d;
  position: absolute;
  top: 15px;
  right: 20px;
  background: transparent;
  border: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  margin-block: 15px 20px;
}

label {
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
  color: #000;
}

input {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 6px;

  font-size: 12px;
  color: #000;
  border: 1px solid #25273d;
  outline: none;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;

  outline: none;
  border: none;
}

.Button.green {
  background-color:cadetblue;
  color: #fff
}
.Button.green:hover {
  background-color:rgb(45, 75, 76);
}

.flex {
  display: flex;
  justify-content: end;
  padding-right: 15px;
}